<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MEetAndYouDatabase" connectionString="Data Source=DESKTOP-MIH6TNI\MSSQLSERVER01;Initial Catalog=MEetAndYou-DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
